<h1>Update <%= @player.name %>'s Image</h1>

<form method = "post" action="/players/<%= @player.id %>">
  <div class="form-el">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="hidden" name="name" id="name" value = <%= @player.name %>>
    </div>

    <div class="form-el">
      <label for="image">Enter Image Url:</label>
      <input type="text" name="image" id="image">
    </div>

    <div class="form-el">
      <input type="submit" value="Save new player image">
    </div>

  </div>
</form>
