<h1>Players</h1>

<a href="/players/new">Add New Player</a>
<div id="player-wrapper">
  <% for player in @players %>

  <div class-"player">
    <h3><a href="/players/<%= player.id %>"><%= player.name %></a></h3>
    <img src= "<%= player.image  %>">\
  <hr>
  </div>

  <% end %>
</div>