input[type="submit"] {
  text-transform: uppercase;
  font-family: 'Verdana', sans-serif;
  font-size: 0em;
}

select {
 width: 150px;
 padding: 5px 35px 5px 5px;
 margin: 15px 0;
 font-size: 1.0em;
 font-family: 'Verdana', sans-serif;
 border: 1px solid #eee;
 display: block;
}