body {
  background: black url('/images/background.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  background-attachment: fixed;
  color: papayawhip;
  font-family: 'Verdana', sans-serif;
  padding: 0px;
  margin: 0px;
}

p {
  overflow: wrap 
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Verdana', sans-serif;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 1.8em;
  color: white;
  margin-bottom: 20px;
}

a, a:visited {
  color: papayawhip;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  padding: 0px;
  margin: 0px;
  padding-right: 25px;
}

nav ul li {
  margin-bottom: 15px;
  text-transform: uppercase;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

main {
  padding: 25px;
}

.container {
    width: 140px;
    height: 140px;
}

/* resize images */
.container img {
    width: 100%;
    height: 100%;
}

.flex {
  display: flex;
}

.flex--row {
  flex-direction: row;
}

#content {
  border-left: 1px solid white;
  padding-left: 25px;
}

#leaders-losers-board div {
  float:left;
  margin:10px;
}

#results-board div {
  clear:left;
  margin:10px;
}