<h1>Sessions</h1>

<div id="session-wrapper">
  <% for session in @sessions %>
  <div class="session">
    <p></p>
      <h3><a href="/sessions/<%= session.id %>"><%= session.date %> : <%= session.game %></a></h3>
    <p></p>
    <% end %>
  </div>
</div>