<h1>Sessions</h1>

<a href="/sessions/new">Add Session</a>
<hr>

<div id="session-wrapper">
  <% for session in @sessions %>

  <div class="session">
    <h3><a href="/sessions/<%= session.id %>"><%= session.date %> : <%= session.game %></a></h3>
    
  <table>
    <tr>
      <th>Players:</th>
    </tr>
    <% players = session.players() %>
    <% for player in players %>
    <tr>
      <td><%= player.name %></td>
    </tr>
    <% end %>
  </table>
  <hr>
  <% end %>
</div>